.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(241, 107, 66);
}
.item1 {
  flex-basis: 300px;
}
.item2 {
  flex-grow: 1;
  align-self: center;
}
